::-webkit-scrollbar {
  width: 1.5rem;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: rgb(37, 99, 235);
  border-radius: 1rem;
  border: 0.6rem solid white;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 99, 235);
  cursor: pointer;
}
